body {
  background-color: white;
}

#wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
  column-gap: 50px;
  margin: 0px 20px;
}

.editor-wrapper textarea {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
.editor-wrapper textarea::before,
.editor-wrapper textarea::after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}

.editor-wrapper textarea::after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

#preview {
  position: relative;
  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0 0 40px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}
#preview::before,
#preview::after {
  content: "";
  position: absolute;
  z-index: -1;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
  top: 10px;
  bottom: 10px;
  left: 0;
  right: 0;
  -moz-border-radius: 100px / 10px;
  border-radius: 100px / 10px;
}

#preview::after {
  right: 10px;
  left: auto;
  -webkit-transform: skew(8deg) rotate(3deg);
  -moz-transform: skew(8deg) rotate(3deg);
  -ms-transform: skew(8deg) rotate(3deg);
  -o-transform: skew(8deg) rotate(3deg);
  transform: skew(8deg) rotate(3deg);
}

.toolbar {
  width: 99%;
  position: relative;
}
.toolbar h2 {
  text-align: center;
  background-color: #4aa3a3;
  border: 2px solid black;
}

h2 {
  margin-bottom: 0;
  font-size: 20px;
}

textarea {
  width: 98%;
  min-height: 85vh;
  resize: vertical;
  outline: none;
  border: 1px solid black;
  border-top: none;
  background-color: #c0d8d8;
}

textarea:focus-visible {
  outline: none;
}

#preview {
  background-color: #c0d8d8;
  padding: 10px 20px;
  border: 1px solid black;
  border-top: none;
}

.previewer {
  background-color: #4aa3a3;
  border: 2px solid black;
  text-align: center;
}

@media (max-width: 768px) {
  #nav {
    font-size: 13px;
  }
  textarea {
    min-height: 50vh;
  }
  #wrapper {
    grid-template-columns: 1fr;
  }
}
